*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.h1 {
    font-size: 45px;
}
.h2 {
    font-size: 30px;
}
.h3 {
    font-size: 20px;
}
.p {
    font-size: 20px;
}

.light {
    font-weight: lighter;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-kerning: 50;
}
.fixed-nav{
    width: 100%;
    height:10vh ;
    background-color: white;
    position: fixed;
    z-index: 300;
}
.nav-container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    height: 10vh; 
    padding-top: 10px;   
}
.nav-bar-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5vh;
}
.menu-container{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}
.black-bar {
    width: 100%;
    height: 5px;
    background-color: black;
    margin-bottom: 20px;
    margin-top: 10px;
}
.nav-img{
    width: auto;
    height: 35px;
    object-fit: contain;

}
.menu-box{
    display: block;
    color: black;
    text-align: center;
    padding-right: 10px; 
}
.menu-box a:hover {
    background-color: grey;
    }
.menu-box a:link{
    text-decoration: none;
    color: black;
}
.menu-box a:visited {
    color: black;
}
.search-bar{
    border: 1px solid;
    width: 175px;
    height: 18px;
    background-color: white;
    border-color: black;
    margin-right: 10px;
}
.search-img{
    height: 100%;
    float: right;
}
.home{
    background-image: linear-gradient(to right, transparent 60%, black 85%),
    linear-gradient(to left,transparent 60%, black 85%),
    url('assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg');
    background-color: black;
    background-size:contain;
    background-position: center;
    width: 100%;
    height:  65vh;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
.home-text-box1{
    height: auto;
    width: 25%;
    margin-bottom: 15%;
    margin-right: 10%;
    
}
.home-text-box2{
    height: auto;
    width: 25%;
    margin-top: 15%;
    margin-left: 20%;
}
.white{
    color: white;
    font-weight: lighter;
}
.about-us-container{
    width: 100%;
    height: 100vh;
}
.section-heading{
    width: 60vw;
    height: auto;
    margin-left: 5%;
    padding-top: 10vh;
}
.about-text-box1{
    width: 55%;
    float: left;
    margin-left: 8vw;
    margin-top: 3vw;
}
.about-right-image-container{
    width: 30vw;
    height: 60vh;
    float:right;
    margin-right: 2vw;
    margin-top: 3vh;
    background-color: grey;
    position: relative;
}

.about-left-image-container{
    width: 20vw;
    height: 40vh;
    float: left;
    background-color: grey;
    margin-left: 5vw;
    margin-top: 5vh;
}
.flip-image{
    transform: scalex(-1);
}
.cover-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.about-text-box2{
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 6vw;
    padding-top: 3vh;
    width: 38%;
    height: 50vh;
}

.our-products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 150vh;
    background-color: white;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 23vw;
    height: 65vh;
    background-color: white;
}
.product-image{
    width: 100%;
    height: 55%;
    background-color: black;
}
.product-name{
    width: 70%;
    height: 10%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: white;
    margin-top: 1vh;
}
.product-price{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    height: 10%;
    background-color: white;
}
.product-description{
    width: 100%;
    height: 25%;
    background-color: white;
}

.product-learn{
    display: flex;
    align-items: center;
    width:50%;
    height: 10%;
    color: rgb(191, 118, 49);
    background-color: white;
    text-decoration: underline;
}


.product-add-cart{
    width: 50%;
    height: 10%;
    background-color: darkgray;
    
}

.orange {
    color: rgb(191, 118, 49);
}

.add-to-cart-box{
    width: 75%;
    height: 75%;
    background-color: orange;

}